HisWCF/Service References/SR/MediInfoHis.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RunService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TradeType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TradeMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TradeMsgOut" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RunServiceResult" type="xs:int" />
        <xs:element minOccurs="0" name="TradeMsgOut" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PCall">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PCallResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PCallResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendToHis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendToHisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sendToHisResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoBusiness">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="header" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="body" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ehrXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoBusinessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ehrXml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Signature">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MAC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Erro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignatureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SignatureResult" type="xs:int" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Erro" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>