HisWCF/HisClient/Service References/yhszz/MediHis.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TradeType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TradeMsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TradeMsgOut" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RunServiceResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TradeMsgOut" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="RunServiceSoapIn">
    <wsdl:part name="parameters" element="tns:RunService" />
  </wsdl:message>
  <wsdl:message name="RunServiceSoapOut">
    <wsdl:part name="parameters" element="tns:RunServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="MediHisSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunService">
      <wsdl:input message="tns:RunServiceSoapIn" />
      <wsdl:output message="tns:RunServiceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MediHisSoap" type="tns:MediHisSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunService">
      <soap:operation soapAction="http://tempuri.org/RunService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MediHisSoap12" type="tns:MediHisSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunService">
      <soap12:operation soapAction="http://tempuri.org/RunService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MediHis">
    <wsdl:port name="MediHisSoap" binding="tns:MediHisSoap">
      <soap:address location="http://127.0.0.1/wacfhis4/MediHis.asmx" />
    </wsdl:port>
    <wsdl:port name="MediHisSoap12" binding="tns:MediHisSoap12">
      <soap12:address location="http://127.0.0.1/wacfhis4/MediHis.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>