HisWCF/HisWCFSVR/Service References/YuHangYY/MediInfoHis.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MediInfoHis" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1/wacfhis4/MediInfoHis.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1/wacfhis4/MediInfoHis.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHisApplay_RunService_InputMessage">
    <wsdl:part name="parameters" element="tns:RunService" />
  </wsdl:message>
  <wsdl:message name="IHisApplay_RunService_OutputMessage">
    <wsdl:part name="parameters" element="tns:RunServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IHisApplay_PCall_InputMessage">
    <wsdl:part name="parameters" element="tns:PCall" />
  </wsdl:message>
  <wsdl:message name="IHisApplay_PCall_OutputMessage">
    <wsdl:part name="parameters" element="tns:PCallResponse" />
  </wsdl:message>
  <wsdl:message name="IHisApplay_sendToHis_InputMessage">
    <wsdl:part name="parameters" element="tns:sendToHis" />
  </wsdl:message>
  <wsdl:message name="IHisApplay_sendToHis_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendToHisResponse" />
  </wsdl:message>
  <wsdl:portType name="IHisApplay">
    <wsdl:operation name="RunService">
      <wsdl:input wsaw:Action="http://tempuri.org/IHisApplay/RunService" message="tns:IHisApplay_RunService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHisApplay/RunServiceResponse" message="tns:IHisApplay_RunService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PCall">
      <wsdl:input wsaw:Action="http://tempuri.org/IHisApplay/PCall" message="tns:IHisApplay_PCall_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHisApplay/PCallResponse" message="tns:IHisApplay_PCall_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendToHis">
      <wsdl:input wsaw:Action="http://tempuri.org/IHisApplay/sendToHis" message="tns:IHisApplay_sendToHis_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHisApplay/sendToHisResponse" message="tns:IHisApplay_sendToHis_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebPoint" type="tns:IHisApplay">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RunService">
      <soap:operation soapAction="http://tempuri.org/IHisApplay/RunService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PCall">
      <soap:operation soapAction="http://tempuri.org/IHisApplay/PCall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendToHis">
      <soap:operation soapAction="http://tempuri.org/IHisApplay/sendToHis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MediInfoHis">
    <wsdl:port name="WebPoint" binding="tns:WebPoint">
      <soap:address location="http://127.0.0.1/wacfhis4/MediInfoHis.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>